/* Pure CSS3 Lightbox start */
@media screen and (min-width: 768px){
	a.button {
	  display: inline-block;
	  text-decoration: none;
	}

	.lightbox-target {
	  position: fixed;
	  top: -300%;
	  width: 100%;
	  background: rgba(0, 0, 0, 0.9);
	  opacity: 0;
	  -moz-transition: opacity 0.5s ease-in-out;
	  -o-transition: opacity 0.5s ease-in-out;
	  -webkit-transition: opacity 0.5s ease-in-out;
	  transition: opacity 0.5s ease-in-out;
	  overflow: hidden;
	  z-index: 1000;
	  display: flex;
	  align-items: center;
	}

	.big_img{
		margin:auto;
	}

	.big_img > img{
		max-width: 100%;
		max-height: 100%;
	}

	.lightbox-target > img {
	   position: absolute;
	   max-height: 0%;
	   max-width: 0%;
	   border: 3px solid #fff;
	   -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
	   box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
	   box-sizing: border-box;
	   -webkit-transition: ease-in-out 0.5s;
	   transition: ease-in-out 0.5s;
	}

	.lightbox-target:target {
	  opacity: 1;
	  top: 0;
	  bottom: 0;
	}

	.lightbox-close {
	  display: block;
	  width: 50px;
	  height: 50px;
	  box-sizing: border-box;
	  background: #000;
	  color: #fff;
	  position: absolute;
	  top: 2%;
	  right: 2%;
	  -moz-transition: ease-in-out 0.5s;
	  -o-transition: ease-in-out 0.5s;
	  -webkit-transition: ease-in-out 0.5s;
	  transition: ease-in-out 0.5s;
	}
	.lightbox-close:before, .lightbox-close:after {
	  content: " ";
	  display: block;
	  height: 30px;
	  width: 1px;
	  background: #fff;
	  position: absolute;
	  left: 26px;
	  top: 10px;
	  -moz-transform: rotate(45deg);
	  -ms-transform: rotate(45deg);
	  -webkit-transform: rotate(45deg);
	  transform: rotate(45deg);
	}
	.lightbox-close:after {
	  -moz-transform: rotate(-45deg);
	  -ms-transform: rotate(-45deg);
	  -webkit-transform: rotate(-45deg);
	  transform: rotate(-45deg);
	}

	/*---------------------*/
	.lightbox-target .material_card{
		position: absolute;
		bottom: 0;
		left: 0;
	    background: rgba(0,0,0,.8);
	    width: 100%;
	    padding: 5px;
	}
	.lightbox-target .material_card ul{
		max-width: 1200px;
		margin: 0 auto;
	}
	.lightbox-target .material_card li{
		list-style: none;
		width: 120px;
		height: 160px;
		background-color: #fff;
		margin: 0 2px;
		text-align: center;
		border-radius: 4px;
		-webkit-box-shadow: 0 2px 5px rgba(0,0,0,.3);
		-moz-box-shadow: 0 2px 5px rgba(0,0,0,.3);
		box-shadow: 0 2px 5px rgba(0,0,0,.3);
		display: inline-block;
	}
			
	.lightbox-target .material_card input[type="checkbox"]{
		display: none;
	}
			
	.lightbox-target .material_card input[type="checkbox"]+label{
		display: inline-block;
		width: 120px;
		height: 160px;
		position: relative;
		cursor: pointer;
	}

	.lightbox-target .material_card input[type="checkbox"]+label:after{
		content: '';
		display: none;
		vertical-align: middle;
		overflow: hidden;
		height: 15px;
		width: 15px;
		margin: 5px;
		outline: 1px solid #888;
		background-color: #FFF;
		position: absolute;
		bottom: 3px;
		right: 4px;
	}
		
	.lightbox-target .material_card	input[type="checkbox"]:checked+label:after{
		background: #3ab54a;
		box-sizing: border-box;
		border: 1px solid #FFF;
	}
		
	.lightbox-target .material_card	h5{
		position: absolute;
		margin: 5px;
		padding-right: 0;
		bottom: 2px;
		left: 3px;
		font-size: 15px;
		font-family: "微軟正黑體";
		font-weight: normal;
		text-align: left;
		width: 100%;
	}

	.lightbox-target .material_card span{
		display: block;
		font-size: 13px;
		line-height: 1.5;
	}
			
	.lightbox-target .material_pic{
		width: 110px;
		height: 108px;
		background-color: #FFF;
		margin: 5px auto;
		border: 1px solid #bbb;
	}
		
	.lightbox-target .material_pic img{
		height: 100%;
		width: 100%;
		display: inline;
	}


}

@media screen and (max-width: 767px){
	a.button {
	  display: inline-block;
	  text-decoration: none;
	}

	.lightbox-target {
	  position: fixed;
	  top: -300%;
	  width: 100%;
	  background: rgba(0, 0, 0, 0.7);
	  opacity: 0;
	  -moz-transition: opacity 0.5s ease-in-out;
	  -o-transition: opacity 0.5s ease-in-out;
	  -webkit-transition: opacity 0.5s ease-in-out;
	  transition: opacity 0.5s ease-in-out;
	  overflow: auto;
	  z-index: 1000;
	  display: block;
	  align-items: center;
	}

	.big_img{
		position: relative;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		margin:auto;
		display: flex;
	  	align-items: center;
	  	justify-content: center;
	}
	.big_img > img{
		padding-right: 0;
		max-height: 100%;
	  	max-width: 100%;
	}

	.lightbox-target > img {
	  position: absolute;
	  max-height: 0%;
	  max-width: 0%;
	  border: 3px solid #fff;
	  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
	  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
	  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
	  box-sizing: border-box;
	  -moz-transition: ease-in-out 0.5s;
	  -o-transition: ease-in-out 0.5s;
	  -webkit-transition: ease-in-out 0.5s;
	  transition: ease-in-out 0.5s;
	}
	.lightbox-target:target {
	  opacity: 1;
	  top: 0;
	  bottom: 0;
	}

	.lightbox-close {
	  display: block;
	  width: 50px;
	  height: 50px;
	  box-sizing: border-box;
	  background: #000;
	  color: #fff;
	  position: absolute;
	  top: 0;
	  right: 0;
	  -moz-transition: ease-in-out 0.5s;
	  -o-transition: ease-in-out 0.5s;
	  -webkit-transition: ease-in-out 0.5s;
	  transition: ease-in-out 0.5s;
	}

	.lightbox-close:before, .lightbox-close:after {
	  content: " ";
	  display: block;
	  height: 30px;
	  width: 1px;
	  background: #fff;
	  position: absolute;
	  left: 26px;
	  top: 10px;
	  -moz-transform: rotate(45deg);
	  -ms-transform: rotate(45deg);
	  -webkit-transform: rotate(45deg);
	  transform: rotate(45deg);
	}

	.lightbox-close:after {
	  -moz-transform: rotate(-45deg);
	  -ms-transform: rotate(-45deg);
	  -webkit-transform: rotate(-45deg);
	  transform: rotate(-45deg);
	}

	/*---------------------*/
	.lightbox-target .material_card{
		position: static;
		background:none; 
		padding: 0;
		margin-top: 5px;
	}

	.lightbox-target .material_card li{
		display: inline-block;
		list-style: none;
		background-color: #fff;
		margin: 2px 0;
		text-align: center;
		border-radius: 4px;
		-webkit-box-shadow: 0 1px 5px rgba(0,0,0,.2);
		-moz-box-shadow: 0 1px 5px rgba(0,0,0,.2);
		box-shadow: 0 1px 5px rgba(0,0,0,.2);
		width: 32%;
	}
		
	.lightbox-target .material_card input[type="checkbox"]{
		display: none;
	}
		
	.lightbox-target .material_card input[type="checkbox"]+label{
		display: inline-block;
		width: 98%;
		height: 150px;
		position: relative;
		cursor: pointer;
	}
	.lightbox-target .material_card input[type="checkbox"]+label:after{
		content: '';
		display: none;
		vertical-align: middle;
		overflow: hidden;
		height: 13px;
		width: 13px;
		margin: 5px;
		outline: 1px solid #888;
		background-color: #FFF;
		position: absolute;
		bottom: 4px;
		right: 5px;
	}
		
	.lightbox-target .material_card	input[type="checkbox"]:checked+label:after{
		background: #3ab54a;
		box-sizing: border-box;
		border: 1px solid #FFF;
	}
	
	.lightbox-target .material_card	h5{
		position: absolute;
		margin: 3px;
		padding-right: 0;
		bottom: 1px;
		left: 3px;
		font-size: 14px;
		font-family: "微軟正黑體";
		font-weight: normal;
		text-align: left;
		width: 100%;
	}

	.lightbox-target .material_card span{
		display: block;
		font-size: 13px;
		line-height: 1;
	}
		
	.lightbox-target .material_pic{
		width: 92%;
		height: 65%;
		background-color: #FFF;
		margin: 5px auto;
		border: 1px solid #bbb;
	}
	
	.lightbox-target .material_pic img{
		height: 100%;
		width: 100%;
		display: inline;
	}
	
}
