@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);

html, body{
	font-family:Helvetica, sans-serif;
	-webkit-text-size-adjust:none;
	background-color: #FFF;
	background: url(../img/bg.jpg);
	width: 100%;
	height: 100%;
	overflow: hidden;	
}

*{
	box-sizing: border-box;
}


/*-----------------------desk------------------------------*/

/*====首頁====*/
#home_logo{
	position: relative;	
	width: 100%;
}

#home_logo a{
	position: absolute;
	width: 110px;
	height: 87px;
	display: block;
	top: 30px;
	left: 50%;
	right: 50%;
	margin-left: -55px;
	z-index: 300;
}

.home33{
	width: 100%;
	height: 100%;
	text-align: center;
}

#home{
	height:100vh;
	width:100vw;
	margin: 0 auto;
	display: -webkit-flex;
  	display: flex;
  	-webkit-align-items: center;
    align-items: center;
  	-webkit-justify-content: center;
    justify-content: center;
}

#home:before{
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	background-color: rgba(255,255,255, .6 );
	position: absolute;
	z-index: 100;
	left: 0;
	top: 0;
}

.grid {
	padding: 60px;  
	perspective: 500px; /*For 3d*/
}

.grid img {
	width:calc(100%/6);
	height: auto; 
	padding:1px; 
	display:block;
	float: left;
}

@-webkit-keyframes fadeIn {
	    0% {
	        opacity: 0; 
	    }
	    50% {
	        opacity: 0;
	    }
	    100% {
	        opacity: 1; 
	    }
}

#home .container{
	width: 100%;
	height: 100%;
	position: absolute;
    top:0;
	left: 0;
	right: 0;
	z-index: 200;
	display: -webkit-flex;
  	display: flex;
  	-webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

#home .menu{
	margin-top: 50px;
	position: relative;
    -webkit-animation-name: fadeIn; 
    -webkit-animation-duration: 2s; 
    -webkit-animation-iteration-count: 1; 
   	-webkit-animation-delay: 0s;
}

#home .menu:after{
	content: "/";
	color: #555;
	font-size: 2rem;
	font-weight: 100;
	position: absolute;
	left: 50%;
	top:15px;
	margin-left: -5px;
	clear: both;
}

#home .menu .title{
	position: absolute;
	z-index: 120;
	top:-50px;
	left: 0;
	text-align: center;
	width: 100%;
	font-size: 2.3rem;
	font-weight: 700;
	color: rgba(58, 181, 74, 1);

	-webkit-animation-name: fadeIn; 
    -webkit-animation-duration: 5s; 
    -webkit-animation-iteration-count: 1; 
   	 -webkit-animation-delay: 0s;
}

#home .menu h3{
	cursor: pointer;
	font-family: 'Noto Sans TC', "微軟正黑體", sans-serif;
	font-size: 3rem;
	font-weight: 300;
	color: #333;
	text-align: center;	
}

#home .menu h3:hover{
	color: #3ab54a;
}

#EU, #MH{
	position: relative;
	padding: 0 25px;
}

#EU{
	float: left;	
}

#MH{
	float: right;
}

#home .submenu{
	position: absolute;
	top: 70px;
	left: 30px;
	background: rgba(255,255,255, .9);
	border-radius: 3px;
	z-index: 150;
	display: none;	
}

#home .submenu:after{
	content:"";
	clear: both;
}

#home .submenu li{
	float: left;
	padding: 10px 0;
}

#home .submenu li a {
	display:block;
	text-decoration: none;
	font-family: 'Noto Sans TC', "微軟正黑體", sans-serif;
	font-size: 1.5rem;
	font-weight: 400;
	color: #333;
	text-align: center;
	padding: 0 20px;
	border-right: #999 solid 1px;
}

#home .submenu li a:hover{
	color: #3ab54a;
}

#home .submenu li:last-child a{
	border-right: none;
}
	
footer{
	width: 100%;
	position: absolute;
	z-index: 120;
	bottom: 2%;
	text-align: center;
	font-size: 0.9rem;
	color: #222;
	font-family: 'Noto Sans TC', sans-serif;
}


/*------------------------mobile----------------------------*/
@media screen and (max-width: 768px){

	#home_loge a{
		position: absolute;
		width: 50px;
		height: 39px;
		display: block;
		top: 10px;
		left: 50%;
		right: 50%;
		margin-left: -25px;
		z-index: 300;
	}

	.home33{
		width: 100%;
		height: 100%;
		text-align: center;
	}

	#home{
		height:100vh;
		width:100vw;
		margin: 0 auto;
		display: -webkit-flex;
  		display: flex;
  		-webkit-align-items: center;
        align-items: center;
  		-webkit-justify-content: center;
        justify-content: center;
	}

	#home:before{
		content: "";
		display: block;
		height: 100%;
		width: 100%;
		background-color: rgba(255,255,255, .6 );
		position: absolute;
		z-index: 100;
		left: 0;
		top: 0;
	}

	.grid {
		/*display: none;*/
		padding: 60px;  
		perspective: 500px; /*For 3d*/
	
	}
	.grid img {
		/*display: none;*/
		width:calc(100%/6);
		height: auto; 
		padding:1px; 
		display:block;
		float: left;
	}

	@-webkit-keyframes fadeIn {
	    0% {
	        opacity: 0; 
	    }
	    50% {
	        opacity: 0;
	    }
	    100% {
	        opacity: 1; 
	    }
	}

	#home .container{
		width: 100%;
		height: 100%;
		position: absolute;
        top:0;
		left: 0;
		right: 0;
		z-index: 200;
		display: -webkit-flex;
  		display: flex;
  		-webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: top;
        justify-content: top;
	}
	
	#home .menu{
		margin-top: 0px;
		position: relative;
	    -webkit-animation-name: fadeIn; 
	    -webkit-animation-duration: 2s; 
	    -webkit-animation-iteration-count: 1; 
	   	-webkit-animation-delay: 0s;
	}

	#home .menu:after{
		content: "|";
		color: #555;
		font-size: 2rem;
		font-weight: 100;
		position: absolute;
		left: 50%;
		top:0px;
		margin-left: -5px;
		clear: both;
	}

	#home .menu .title{
		position: absolute;
		z-index: 120;
		top:80px;
		left: 0;
		text-align: center;
		font-size: 1.5rem;
		font-weight: 700;
		color: rgba(58, 181, 74, 1);

		-webkit-animation-name: fadeIn; 
	    -webkit-animation-duration: 5s; 
	    -webkit-animation-iteration-count: 1; 
	   	 -webkit-animation-delay: 0s;
	}

	#home .menu h3{
		cursor: pointer;
		font-family: 'Noto Sans TC', "微軟正黑體", sans-serif;
		font-size: 2rem;
		font-weight: 400;
		color: #333;
		text-align: center;	
	}

	#home .menu h3:hover{
		color: #333;
	}

	#EU, #MH{
		position: relative;
		padding: 0 10px;
	}

	#EU{
		float: left;	
	}

	#MH{
		float: right;
	}

	#home .submenu{
		position: absolute;
		top: 40px;
		left: 8px;
		width: 90%;
		background: rgba(255,255,255, .9);
		border-radius: 3px;
		z-index: 130;
		display: none;	
	}

	#home .submenu:after{
		content:"";
		clear: both;
	}

	#home .submenu li{
		float: none;
		padding: 0 20px;
	}

	#home .submenu li a {
		display:block;
		text-decoration: none;
		font-family: 'Noto Sans TC', "微軟正黑體", sans-serif;
		font-size: 1.5rem;
		font-weight: 400;
		color: #333;
		text-align: center;
		padding: 20px 0;
		border-right: none;
		border-bottom: 1px solid #bbb;
	}

	#home .submenu li:last-child a{
		border-right: none;
		border-bottom: none;
	}

	#home .submenu li a:hover{
		color: #3ab54a;
	}
	footer{
		width: 100%;
		position: absolute;
		z-index: 120;
		bottom: 2%;
		text-align: center;
		font-size: 0.8rem;
		color: #222;
		font-family: 'Noto Sans TC', sans-serif;
	}
}
