@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);

html{
	font-family:Helvetica, sans-serif;
	-webkit-text-size-adjust:none;
	background-color: #FFF;
}


/*-----------------------desk------------------------------*/

/*====首頁====*/

	*{
		box-sizing: border-box;
	}

	html, body{
		-webkit-text-size-adjust:none;
		font-family:Arial, Helvetica, sans-serif;
		width: 100%;
		height: 100%;
		overflow: hidden;
		background: url(../img/bg.jpg);
	}

	header{
		position: relative;	
		width: 100%;
	}

	header a{
		position: absolute;
		width: 110px;
		height: 87px;
		display: block;
		top: 30px;
		left: 50%;
		right: 50%;
		margin-left: -55px;
		z-index: 300;
	}

	.home33{
		width: 100%;
		height: 100%;
		text-align: center;
	}

	#wrapper{
		height:100vh;
		width:100vw;
		margin: 0 auto;
		display: -webkit-flex;
  		display: flex;
  		-webkit-align-items: center;
        align-items: center;
  		-webkit-justify-content: center;
        justify-content: center;
	}

	#wrapper:before{
		content: "";
		display: block;
		height: 100%;
		width: 100%;
		background-color: rgba(255,255,255, .6 );
		position: absolute;
		z-index: 100;
		left: 0;
		top: 0;
	}

	.grid {
		padding: 60px;  
		perspective: 500px; /*For 3d*/
	
	}
	.grid img {
		width:calc(100%/6);
		height: auto; 
		padding:1px; 
		display:block;
		float: left;
	}

	@-webkit-keyframes fadeIn {
	    0% {
	        opacity: 0; 
	    }
	    50% {
	        opacity: 0;
	    }
	    100% {
	        opacity: 1; 
	    }
	}

	.title{
		position: absolute;
		z-index: 120;
		top:57%;
		left: 0;
		text-align: center;
		width: 100%;
		font-size: 3rem;
		font-weight: 700;
		color: rgba(58, 181, 74, 1);

		-webkit-animation-name: fadeIn; 
    	-webkit-animation-duration: 5s; 
    	-webkit-animation-iteration-count: 1; 
   	 	-webkit-animation-delay: 0s;
	}

	.container{
		width: 100%;
		height: 100%;
		position: absolute;
        top:0;
		left: 0;
		right: 0;
		z-index: 200;
		display: -webkit-flex;
  		display: flex;
  		-webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
	}

	.container h3{
		cursor: pointer;

	}

	.container .main_menu{
		position: relative;
        -webkit-animation-name: fadeIn; 
    	-webkit-animation-duration: 2s; 
    	-webkit-animation-iteration-count: 1; 
   	 	-webkit-animation-delay: 0s;
	}

	.container .main_menu:after{
		content: "/";
		color: #555;
		font-size: 2rem;
		font-weight: 100;
		position: absolute;
		left: 50%;
		top:15px;
		margin-left: -5px;
	}
	
	.container .main_menu h3{
		float: left;
		cursor: pointer;
		font-family: 'Noto Sans TC', "微軟正黑體", sans-serif;
		font-size: 3rem;
		font-weight: 300;
		color: #333;
		text-align: center;	
	}

	.container a:hover{
		color: #3ab54a;
	}

	.rooms_btn a, .material_btn a {
		display:block;
		text-decoration: none;
		font-family: 'Noto Sans TC', "微軟正黑體", sans-serif;
		font-size: 3rem;
		font-weight: 300;
		color: #333;
		text-align: center;
	}

	.rooms_btn a{
		padding-right: 30px;
	}

	.material_btn a{
		padding-left: 30px;
	}
	
	.rooms_btn span, .material_btn span{
		display: block;
		font-weight: 200;
		font-size: 2.5rem;
		color: #555;
		padding: 15px 0;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

	footer{
		width: 100%;
		position: absolute;
		z-index: 120;
		bottom: 2%;
		text-align: center;
		font-size: 0.9rem;
		color: #222;
		font-family: 'Noto Sans TC', sans-serif;
	}


/*------------------------mobile----------------------------*/
@media screen and (max-width: 768px){

	html, body{
		-webkit-text-size-adjust:none;
		font-family:Arial, Helvetica, sans-serif;
		width: 100%;
		height: 100%;
		overflow: hidden;
		background: url(..img/Logo/bg.jpg);
	}

	header{
		position: relative;	
		width: 100%;
	}

	header a{
		position: absolute;
		width: 50px;
		height: 39px;
		display: block;
		top: 10px;
		left: 50%;
		right: 50%;
		margin-left: -25px;
		z-index: 300;
	}

	.home33{
		width: 100%;
		height: 100%;
		text-align: center;
	}

	#wrapper{
		height:100vh;
		width:100vw;
		margin: 0 auto;
		display: -webkit-flex;
  		display: flex;
  		-webkit-align-items: center;
        align-items: center;
  		-webkit-justify-content: center;
        justify-content: center;
	}

	#wrapper:before{
		content: "";
		display: block;
		height: 100%;
		width: 100%;
		background-color: rgba(255,255,255, .6 );
		position: absolute;
		z-index: 100;
		left: 0;
		top: 0;
	}

	.grid {
		/*display: none;*/
		padding: 60px;  
		perspective: 500px; /*For 3d*/
	
	}
	.grid img {
		/*display: none;*/
		width:calc(100%/6);
		height: auto; 
		padding:1px; 
		display:block;
		float: left;
	}

	@-webkit-keyframes fadeIn {
	    0% {
	        opacity: 0; 
	    }
	    50% {
	        opacity: 0;
	    }
	    100% {
	        opacity: 1; 
	    }
	}

	.title{
		position: absolute;
		z-index: 120;
		top:48%;
		left: 0;
		text-align: center;
		width: 100%;
		font-size: 1.8rem;
		font-weight: 700;
		color: rgba(58, 181, 74, 1);

		-webkit-animation-name: fadeIn; 
    	-webkit-animation-duration: 5s; 
    	-webkit-animation-iteration-count: 1; 
   	 	-webkit-animation-delay: 0s;
	}

	.container{
		width: 100%;
		height: 100%;
		position: absolute;
        top:0;
		left: 0;
		right: 0;
		z-index: 200;
		display: -webkit-flex;
  		display: flex;
  		-webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
	}
	
	.container ul{
		position: relative;
	}

	.container ul:after{
		display: none;
		content: "";
		color: #555;
		font-size: 2rem;
		font-weight: 100;
		position: absolute;
		left: 50%;
		top:18px;
		margin-left: -5px;
	}

	.container ul{
		-webkit-animation-name: fadeIn; 
    	-webkit-animation-duration: 2s; 
    	-webkit-animation-iteration-count: 1; 
   	 	-webkit-animation-delay: 0s; 	
	}

	.container li{
		position: relative;
		float: none;	
	}

	.container a:hover{
		color: #3ab54a;
	}

	.rooms_btn a, .material_btn a {
		display:block;
		text-decoration: none;
		font-family: 'Noto Sans TC', sans-serif;
		font-size: 5rem;
		font-weight: 200;
		color: #000;
		text-align: center;
	}

	.rooms_btn a{
		padding: 20% 0;
	}

	.material_btn a{
		padding: 20% 0;
	}
	
	.rooms_btn span, .material_btn span{
		display: block;
		font-weight: 200;
		font-size: 2.5rem;
		color: #555;
		padding: 15px 0;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

	footer{
		width: 100%;
		position: absolute;
		z-index: 120;
		bottom: 2%;
		text-align: center;
		font-size: 0.8rem;
		color: #222;
		font-family: 'Noto Sans TC', sans-serif;
	}
}
