@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(header.css);

html{
	font-family:'Noto Sans TC', Helvetica, Arial, sans-serif, "微軟正黑體";
	-webkit-text-size-adjust:none;
	background: url(../img/bg.jpg);
    background-position:left top;
    background-attachment:fixed;
	width: 100%;
	height: 100%;
    overflow: visible;
}

html:after{
	content: "";
	position: fixed;
	background: rgba(255,255,255, .6);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

*{
	box-sizing: border-box;
}

/*-----------------------desk------------------------------*/

#wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 80px auto 0 auto;
    z-index: 100;
    padding: 0 5%;
}

.filterNav{
    width: 100%;
    height: 60px;   
}
	
.filterNav ul{
	position: fixed;
    z-index: 50;
    left: 5.2%;
    top: 100px;
	width: 90%;
	margin: 0 auto;
}

.filterNav li{
	display: inline-block;
	text-align: center;
	line-height: 28px; 
	font-size: 1rem;
	font-weight: 500;
	letter-spacing: 1px;
	width: 79px;
	height: 32px;
	border-radius: 15px;
	border: solid 2px #333;
	margin: 0 5px;
	margin-right: -4px;
}

.filterNav a{
	text-decoration: none;
	color: #333;
}

.filterNav .this{
	background-color: #333;
}

.filterNav .this a{
	color: #fff;
}

/*=======空間頁=======*/

.rooms_s_img{
	width: 100%;
	height: 100%;
	padding-top: 10px;
	clear: both;
}

.rooms_s_img li{
	padding: 5px;
	width: 25%;
	float: left;
}

.rooms_s_img img{
	width: 100%;
	height:auto;
}

.rooms_s_img:after{
	content: "";
	display: block;
	clear: both;
}

/*=====材質頁=====*/

.choose{
   	position: fixed;
    z-index: 50;
    right:6%;
    top: 100px;
    text-align: right;
    display: inline-block;
}

.choose a{
	height: 32px;
    width: 90px;
    margin: 0 3px;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 15px;
    color: #fff;
    font-size: 1rem;
    font-family: "微軟正黑體";
    text-decoration: none;
    display: inline-block;
    line-height: 32px;
    text-align: center;
}

/*=====大材質卡=====*/

#card_wrap{
	padding-top: 15px;
	width: 100%;
    margin: 0 auto;
}

#card_wrap > p{
	padding-left: 10px;
	line-height: 30px;
	color: #666;
	font-size: 1rem;
}

#card_wrap .material_card{
	list-style: none;
	display: inline-block;
	background-color: #fff;
	margin: 10px;
	text-align: center;
	border-radius: 4px;
	-webkit-box-shadow: 1px 2px 6px rgba(0,0,0,.4);
	-moz-box-shadow: 1px 2px 6px rgba(0,0,0,.4);
	box-shadow: 1px 2px 6px rgba(0,0,0,.4);
}
		
#card_wrap .material_card input[type="checkbox"]{
	display: none;
}
		
#card_wrap .material_card input[type="checkbox"]+label{
	display: inline-block;
	width: 220px;
	height: 290px;
	position: relative;
	cursor: pointer;
}

#card_wrap .material_card .state_label{
	position: absolute;
	bottom: 30px;
	right: 12px;
}
	
#card_wrap .material_card .state_label img{
	width: 55px;
	height: 55px;
}
		
#card_wrap .material_card input[type="checkbox"]+label:after{
	content: '';
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	height: 16px;
	width: 16px;
	margin: 5px;
	outline: 1px solid #888;
	background-color: #FFF;
	position: absolute;
	bottom: 4px;
	right: 5px;
}
		
#card_wrap .material_card input[type="checkbox"]:checked+label:after{
	background: #3ab54a;
	box-sizing: border-box;
	border: 1px solid #FFF;
}
	
#card_wrap .material_card h5{
	position: absolute;
	margin: 5px;
	padding-right: 22px;
	bottom: 3px;
	left: 5px;
	font-size: 1.2rem;
	font-family: "微軟正黑體";
	font-weight: normal;
	text-align: left;
	line-height: 1.3;
	color: #000;
}

#card_wrap .material_card span{
	display: block;
	font-size: 1rem;
	line-height: 1.2;
	color: #333;
}

#card_wrap .material_card	h5:first-child{
	font-size: 15px;
}
		
#card_wrap .material_pic{
	width: 200px;
	height: 200px;
	background-color: #FFF;
	margin: 8px auto;
	border: 1px solid #bbb;
}
	
#card_wrap .material_pic img{
	height: 100%;
	width: 100%;
	display: inline;
}

/*=====小材質卡=====*/
#s_card_wrap{
	position: fixed;
	right: 6%;
	bottom: 20px;
	padding: 5px;
	background-color: rgba(0,0,0,.7);
	box-shadow: 4px 4px 5px rgba(0,0,0,.6);
}

#s_card_wrap .material_card{
	list-style: none;
	display: inline-block;
	background-color: #fff;
	margin: 5px;
	text-align: center;
	border-radius: 4px;
	-webkit-box-shadow: 1px 2px 6px rgba(0,0,0,.4);
	-moz-box-shadow: 1px 2px 6px rgba(0,0,0,.4);
	box-shadow: 1px 2px 6px rgba(0,0,0,.4);
}

#s_card_wrap .material_card input[type="checkbox"]{
		display: none;
	}
		
#s_card_wrap .material_card input[type="checkbox"]+label{
	display: inline-block;
	width: 140px;
	height: 190px;
	position: relative;
	cursor: pointer;
}

#s_card_wrap .material_card .sold_out{
	position: absolute;
	bottom: 20px;
	right: 8px;
}
	
#s_card_wrap .material_card .sold_out img{
	width: 45px;
	height: 45px;
}
		
#s_card_wrap .material_card input[type="checkbox"]+label:after{
	content: '';
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	height: 15px;
	width: 15px;
	margin: 5px;
	outline: 1px solid #888;
	background-color: #FFF;
	position: absolute;
	bottom: 3px;
	right: 4px;
}
		
#s_card_wrap .material_card	input[type="checkbox"]:checked+label:after{
	background: #3ab54a;
	box-sizing: border-box;
	border: 1px solid #FFF;
}
	
#s_card_wrap .material_card	h5{
	position: absolute;
	margin: 5px;
	padding-right: 22px;
	bottom: 2px;
	left: 3px;
	font-size: 16px;
	font-family: "微軟正黑體";
	font-weight: normal;
	text-align: left;
}

#s_card_wrap .material_card span{
	display: block;
	font-size: 14px;
	line-height: 1.5;
}
		
#s_card_wrap .material_pic{
	width: 124px;
	height: 124px;
	background-color: #FFF;
	margin: 8px auto;
	border: 1px solid #bbb;
}
	
#s_card_wrap .material_pic img{
	height: 100%;
	width: 100%;
	display: inline;
}

.material_card .state_label{
		position: absolute;
		bottom: 25px;
		right: 8px;
	}
	
.material_card .state_label img{
	width: 45px;
	height: 45px;
	}

footer{
	position: relative;
	z-index: 120;
	width: 100%;
	text-align: center;
	font-size: 0.9rem;
	color: #222;
	font-family: 'Noto Sans TC', sans-serif;
	line-height: 50px;
}



/*------------------------mobile----------------------------*/
@media screen and (max-width: 768px){

	#wrapper{
	    position: relative;
    	width: 100%;
    	height: 100%;
   		margin: 50px auto 0 auto;
    	z-index: 100;
    	padding: 0;
	}

	.filterNav{
	    width: 100%;
	    height: 44px;
	    white-space: nowrap;  
	}
		
	.filterNav ul{
		position: fixed;
	    z-index: 50;
	    left: 0;
	    top: 50px;
		width: 100vw;
		margin: 0 auto;
		overflow-x: scroll;
		background-color: #ddd; 
	}

	.filterNav li{
		display: inline-block;
		text-align: center;
		line-height: 44px; 
		font-size: 1rem;
		font-weight: 500;
		letter-spacing: 0px;
		width: 70px;
		height: 44px;
		border-radius: 0;
		border: none;
		margin: 0;
		margin-right: -4px;
		background-color: #ddd;
	}

	.filterNav a{
		text-decoration: none;
		color: #333;
	}

	.filterNav .this{
		background-color: #333;
	}

	.filterNav .this a{
		color: #fff;
	}

	/*=======空間頁=======*/

	.rooms_s_img{
		width: 100%;
		height: 100%;
		padding-top: 0;
		clear: both;
	}

	.rooms_s_img li{
		padding: 1px 0;
		width: 100%;
		float: none;
	}

	.rooms_s_img img{
		width: 100%;
		height:auto;
	}

	.rooms_s_img:after{
		content: "";
		display: block;
		clear: both;
	}

	/*=====材質頁=====*/

	.choose{
		width: 100%;
		display: block;
    	position: fixed;
    	z-index: 50;
    	right: 0;
    	top: 110px;
    	text-align: center;
	}

	.choose a{
		height: 32px;
	    width: 90px;
	    margin: 0 3px;
	    background-color: rgba(0, 0, 0, .8);
	    /* border: 2px solid #fff; */
	    border-radius: 15px;
	    color: #fff;
	    font-size: 1rem;
	    font-family: "微軟正黑體";
	    text-decoration: none;
	    display: inline-block;
	    line-height: 32px;
	    letter-spacing: 1px;
	    text-align: center;
	}

	/*=====大材質卡=====*/

	#card_wrap{
		padding-top: 60px;
    	width: 100%;
    	margin: 0 auto;
    	text-align: center;
	}

	#card_wrap > p{
		padding-left: 10px;
		line-height: 30px;
		color: #666;
		font-size: 0.9rem;
	}
	
	#card_wrap .material_card{
		list-style: none;
		display: inline-block;
		background-color: #fff;
		margin: 2px 0;
		text-align: center;
		border-radius: 4px;
		-webkit-box-shadow: 0 2px 5px rgba(0,0,0,.3);
		-moz-box-shadow: 0 2px 5px rgba(0,0,0,.3);
		box-shadow: 0 2px 5px rgba(0,0,0,.3);
		width: 48%;
	}
		
	#card_wrap .material_card input[type="checkbox"]{
		display: none;
	}
		
	#card_wrap .material_card input[type="checkbox"]+label{
		display: inline-block;
		width: 99%;
		height: 220px;
		position: relative;
		cursor: pointer;
	}
		
	#card_wrap .material_card input[type="checkbox"]+label:after{
		content: '';
		display: inline-block;
		vertical-align: middle;
		overflow: hidden;
		height: 16px;
		width: 16px;
		margin: 5px;
		outline: 1px solid #888;
		background-color: #FFF;
		position: absolute;
		bottom: 4px;
		right: 5px;
	}
		
	#card_wrap .material_card	input[type="checkbox"]:checked+label:after{
		background: #3ab54a;
		box-sizing: border-box;
		border: 1px solid #FFF;
	}
	
	#card_wrap .material_card	h5{
		position: absolute;
		margin: 5px;
		padding-right: 22px;
		bottom: 3px;
		left: 5px;
		font-size: 16px;
		font-family: "微軟正黑體";
		font-weight: normal;
		text-align: left;
	}

	#card_wrap .material_card span{
		display: block;
		font-size: 15px;
		line-height: 1.5;
	}
		
	#card_wrap .material_pic{
		width: 92%;
		height: 68%;
		background-color: #FFF;
		margin: 8px auto;
		border: 1px solid #bbb;
	}
	
	#card_wrap .material_pic img{
		height: 100%;
		width: 100%;
		display: inline;
	}


	/*=====小材質卡=====*/

	#s_card_wrap{
		position: static;
		right: 0;
		left: 0;
		top: 0;
		padding: 5px;
		background-color: rgba(0,0,0,0);
		box-shadow: none;
		width: 100%;
		margin-top: 50px;
	}

	#s_card_wrap .material_card{
		list-style: none;
		display: inline-block;
		background-color: #fff;
		margin: 2px 0;
		text-align: center;
		border-radius: 4px;
		-webkit-box-shadow: 1px 2px 6px rgba(0,0,0,.4);
		-moz-box-shadow: 1px 2px 6px rgba(0,0,0,.4);
		box-shadow: 1px 2px 6px rgba(0,0,0,.4);
		width: 32%;
	}

	#s_card_wrap .material_card input[type="checkbox"]{
		display: none;
	}
		
	#s_card_wrap .material_card input[type="checkbox"]+label{
		display: inline-block;
		width: 99%;
		height: 150px;
		position: relative;
		cursor: pointer;
	}
		
	#s_card_wrap .material_card input[type="checkbox"]+label:after{
		content: '';
		display: inline-block;
		vertical-align: middle;
		overflow: hidden;
		height: 13px;
		width: 13px;
		margin: 5px;
		outline: 1px solid #888;
		background-color: #FFF;
		position: absolute;
		bottom: 2px;
		right: 3px;
	}
		
	#s_card_wrap .material_card	input[type="checkbox"]:checked+label:after{
		background: #3ab54a;
		box-sizing: border-box;
		border: 1px solid #FFF;
	}
	
	#s_card_wrap .material_card	h5{
		position: absolute;
		margin: 3px;
		padding-right: 25px;
		bottom: 2px;
		left: 5px;
		font-size: 15px;
		font-family: "微軟正黑體";
		font-weight: normal;
		text-align: left;
	}

	#s_card_wrap .material_card span{
		display: block;
		font-size: 14px;
		line-height: 1.2;
	}
		
	#s_card_wrap .material_pic{
		width: 92%;
		height: 63%;
		background-color: #FFF;
		margin: 5px auto;
		border: 1px solid #bbb;
	}
	
	#s_card_wrap .material_pic img{
		height: 100%;
		width: 100%;
		display: inline;
	}

	.material_card .state_label{
		position: absolute;
		bottom: 22px;
		right: 6px;
	}
	
	.material_card .state_label img{
		width: 42px;
		height: 42px;
	}

	footer{
		position: relative;
		z-index: 120;
		width: 100%;
		text-align: center;
		font-size: 0.8rem;
		color: #222;
		font-family: 'Noto Sans TC', sans-serif;
		line-height: 20px;
	}
}
